
.HomeMain{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
    /* max-width: 1000px; */
    background: #0092ca; 
    /* background: #393e46;  */
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 4em;
    padding-bottom: 4em;
    border: solid #222831 0.5em;
}

/* .whitespace{
    width: 30em;
    height: 14.4em;
} */

.ErrorPage {
    /* background-color: white; */
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #222831;
    color: white;
    box-shadow: 4px 4px 1px 2px #eeeeee;
    border-radius: 2em;
    width: 100%;
    /* text-align: center; */
}

.ErrorPageInside{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 1em;
}

.ErrorPage .whitespace{
    background-color: white;
    color: black;
}