
ul {
    padding-left: 1em;
}

.links {
    padding: 0
}

.Paragraph h3 a {
    text-decoration: none;
    color: white;
}

.Paragraph h3 a:hover {
    text-decoration: underline;
}

.links h4 a {
    text-decoration: none;
    color: #0092ca;
}

.links h4 a:hover {
    text-decoration: underline;
}